#form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    color: var(--black);
    text-align: left;
  }

  .input, .input-area{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--blue-dark);
    background-color: transparent;
    color: var(--dark);
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    padding-left: 10px;
  }
  .input-area{
    height:150px;
  }

  .label-modal {
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    color: var(--light);
    text-align: left;
  }
}