#ViewEdit-expense{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left:0;

  .edit-expense-container,.view-expense-container{
    width: 100%;
    padding: 2rem;
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    position: relative;
  }
  .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .button{
      width: 97.5%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid var(--light);
      background-color: transparent;
      color: var(--light);
      font-size: 1rem;
      font-family: "Roboto Mono", monospace;
      transition: background-color 0.5s ease-in-out;
      cursor: pointer;

      &:hover{
        background-color:var(--gray);
        color: var(--black);
      }
    }
    .checkboxs{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      
      > label {
        margin-right: 1rem;
      }
      label{
        font-size: 1rem;
        font-family: "Roboto Mono", monospace;
        color: var(--light);
        text-align: left;
      }
      .checkbox{
        width: 20px;
        height: 20px;
        border: 1px solid var(--dark);
      }
    }
  }

  .close{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: var(--light);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover{
      color: var(--red);
      transform: scale(1.2);
    }
  }
  .items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    span{
      font-size: 1.5rem;
      font-family: 'Roboto Condensed', sans-serif;
      color: var(--light);
    }
    strong{
      font-family: "Roboto Mono", monospace;
      font-weight: 700;
      font-size: 1.6rem;
      color: var(--blue);
    }
  }
}