#menu {
  padding: 0 0.5rem 0 2rem;
  background-color: var(--dark);
  position: relative;

  .icon-menu {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;

    .icon {
      font-size: 2rem;
      color: var(--light);
      transition: all 0.3s ease-in-out;

      &:hover{
        color: var(--green);
        transform: scale(1.3);
      }
    }
  }

  .close {
    transition: all 0.1s ease-in-out;
    width: 20% !important;
    min-width: 50px !important;
    .nav-item {
      span {
        display: none;
      }
      &:hover {
        background-color: transparent !important;
      }
    }
  }
  .menu-container {
    min-width: 250px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    transition: all 0.1s ease-in-out;

    .nav-item {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
      text-decoration: none;
      border-radius: 5px;

      .icon {
        padding-left: 5px;
        font-size: 1.5rem;
        path {
          color: var(--green);
          font-size: 1.5rem;
        }
      }
      span {
        width: 100%;
        color: var(--green);
        font-size: 1.5rem;
        font-family: "Roboto Condensed", sans-serif;
      }

      &:hover {
        background-color: var(--purple);
        border-radius: 5px;
        span {
          color: var(--light) !important;
        }
        .icon path {
          color: var(--light) !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    height: 100%;
    padding: 0.3rem;
  }
  @media (max-width: 550px) {
    .menu-container .nav-item {
      span,.icon{
        font-size: 1.2rem;
      }
    }
  }
}
