@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono:wght@600&display=swap');


:root {
  --dark:  #343a40;
  --blue: #17a2b8;
  --light: #f8f9fa;
  --purple: #6f42c1;
  --green:#20c997;
  --black : #000000;
  --gray:#6c757d;
  --blue-dark: #001f3f;
  --red:#dc3545;
}

*{ 
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light);
}

.app-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  .body{
    width: 80%;
    padding: 2rem;
    @media(max-width: 768px){
      padding: 1rem;
      margin-left: 60px;
      width: 100%;
    }
    @media(max-width: 550px){
      padding: 0;
      margin-left: 65px;
      width: 100%;
    }
  }
  .body-login{
    width:100%;
  }
}