@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono:wght@600&display=swap');


*{ 
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

.app-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  .body{
    width: 80%;
  }
  .body-login{
    width:100%;
  }
}