#home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo{
    width:500px;
    height:300px;
  }
  h1{
    color: var(--dark);
    font-size: 3.2rem;
    text-align: center;

    a{
      text-decoration: none;
      font-weight: bold;
      color: var(--gray);
      &:hover{
        text-decoration: underline;
      }
    }
  }
}