#list-expenses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  gap: 40px;

  h1 {
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
    color: var(--black);
    text-align: center;
  }

  .table-expenses {
    width: 90%;
    border: 1px solid var(--gray);
    padding: 1rem;
    > tbody > tr > td a {
      color: var(--dark);
      font-size: 1rem;
      font-family: "Roboto Mono", monospace;
      text-decoration: none;
      transition: all 0.5s ease-out;

      &:hover {
        color: var(--blue);
      }
    }
    th {
      text-align: center;
      font-size: 1.5rem;
      color: var(--black);
      font-family: "Roboto Condensed", sans-serif;
      height: 80px;
      border-bottom: 1px solid var(--gray);
      padding-left: 0.2rem;
      &:first-child {
        text-align: left;
      }
    }
    td {
      color: var(--dark);
      font-size: 1rem;
      font-family: "Roboto Mono", monospace;
      height: 50px;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        .options {
          justify-content: center !important;
        }
      }
    }
    .options {
      display: flex;
      flex-direction: row;
      gap: 20px;
      .icon {
        color: var(--dark);
        cursor: pointer;
        font-size: 1.2rem;
        &:hover {
          color: var(--blue-dark);
        }
      }
    }
  }
  .not-expenses{
    width: 70%;
    h1{
      color: var(--dark);
      font-size: 2.5rem;
      font-family: "Roboto Mono", monospace;     
      a{
        text-decoration: none;
        color: var(--green);
        transition: color 0.5s ease-in-out;
        &:hover{
          color: var(--purple);
        }
      }
    }
  }
  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filter {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    > select {
      height: 40px;
      border-radius: 5px;
      padding: 0.3rem 1rem;
      background-color: transparent;
      border: 1px solid var(--gray);
      color: var(--blue-dark);
      font-family: "Roboto Mono", monospace;
      font-size: 1rem;
      option {
        color: var(--blue-dark);
        background-color: var(--light);
        margin: 0.3rem 1rem;
        font-family: "Roboto Mono", monospace;
        font-size: 1rem;
      }
    }
    > button {
      height: 40px;
      border-radius: 5px;
      padding: 0.3rem 1rem;
      background-color: transparent;
      border: 1px solid var(--gray);
      color: var(--black);
      font-family: "Roboto Mono", monospace;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: var(--blue-dark);
        color: var(--light);
      }
    }
  }
  .pagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;

    > span {
      color: var(--blue-dark);
      font-size: 1.3rem;
      font-family: "Roboto Mono", monospace;
    }
    .button-arrow {
      border: 1px solid var(--gray);
      background-color: transparent;
      border-radius: 5px;
      padding: 0.5rem 0.7rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      .arrow {
        color: var(--black);
        font-size: 1.3rem;
      }

      &:hover {
        background-color: var(--black);
        .arrow{
          color: var(--light);
        }
      }
      &:disabled {
        background-color: var(--gray);
        cursor: not-allowed;
        .arrow {
          color: var(--black);
        }
      }
    }
  }
}
