#list-expenses{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 40px;
  h1{
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
    color: #F3ECD9;
    text-align: center;
  }

  .table-expenses{
    width: 90%;
    border: 1px solid #ffffff;
    padding: 1rem;
    >tbody > tr > td a {
      color:#ABB1C1;
      font-size: 1rem;
      font-family: "Roboto Mono", monospace;
      text-decoration: none;
      transition: all 0.5s ease-out;

      &:hover{
        color:#DEE7FF;
      }
    }
    th{
      text-align: center;
      font-size: 1.5rem;
      color: #F3ECD9;
      font-family: 'Roboto Condensed', sans-serif;
      height: 80px;
      border-bottom: 1px solid #ffffff;
      padding-left: 0.2rem;
      &:first-child{
        text-align: left;
      }
    }
    td{
      color: #DEE7FF;
      font-size: 1rem;
      font-family: "Roboto Mono", monospace;
      height: 50px;
      text-align: center;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        .options{
          justify-content: center !important;
        }
      }
    }
    .options{
      display: flex;
      flex-direction: row;
      gap: 20px;
      .icon{
        color:#ABB1C1;
        cursor: pointer;
        font-size: 1.2rem;
        &:hover{
          color:#DEE7FF;
        }
      }
    }
  }
  .loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;

    > span{
      color: #DEE7FF;
      font-size: 1.3rem;
      font-family: "Roboto Mono", monospace;
    }
    .button-arrow{
      border: 1px solid #DEE7FF;
      background-color: transparent;
      border-radius: 5px;
      padding: 0.5rem 0.7rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      .arrow{
        color: #ffffff;
        font-size: 1.3rem;
      }

      &:hover{
        background-color: #F3ECD9;
      }
      &:disabled{
        background-color: #545863;
        .arrow{
          color: #000000;
        }
      }
    }
  }
}