#new-expense{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .logo{
    width: 300px;
    height: 250px;
  }
  .new-expense-container{
    width: 100%;
    max-width: 500px;
    .form{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      button{
        width: 97.5%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid var(--blue-dark);
        background-color: transparent;
        color: var(--dark);
        font-size: 1rem;
        font-family: "Roboto Mono", monospace;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
  
        &:hover{
          background-color: var(--dark);
          color: var(--light);
        }
      }
      .checkboxs{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        
        > label {
          margin-right: 1rem;
        }
        label{
          font-size: 1rem;
          font-family: "Roboto Mono", monospace;
          color: var(--black);
          text-align: left;
        }
        .checkbox{
          width: 20px;
          height: 20px;
          border: 1px solid var(--dark);
        }
      }
    }
  }
}